# Used Cars Data
## I love cars, my father used to sell many of them. I know much about prices of used cars and would like to investigate if my knowledge have practical data behind it
### All the data from this project is pulled from eBay Kleinanzeigen. German eBay. Data was orginally scraped by Kaggle

In [2]:
import pandas as pd
import numpy as np
autos=pd.read_csv('autos.csv',encoding='windows-1252',low_memory=False) #Defaul UTF-8 wncoding didn't work. Column 11 had mixed data
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/24/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,3/24/2016 0:00,0.0,70435.0,4/7/2016 3:16
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,3/24/2016 0:00,0.0,66954.0,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,3/14/2016 0:00,0.0,90480.0,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TÜRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,3/17/2016 0:00,0.0,91074.0,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,3/31/2016 0:00,0.0,60437.0,4/6/2016 10:17

#### Cleaning up column names

In [3]:
it1=autos.columns.str.lower().str.strip()
autos.columns=it1
# Now to snake case
autos.rename({'yearofregistration':'registration_year','monthofregistration':'registration_month','notrepaireddamage':'unrepaired_damage','datecreated':'ad_created'},axis='columns',inplace=True)
autos.columns

Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'registration_year', 'gearbox', 'powerps', 'model',
       'kilometer', 'registration_month', 'fueltype', 'brand',
       'unrepaired_damage', 'ad_created', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')

In [4]:
autos.describe(include='all')
# Price standard deviation in 3 millions. need to be checked
# Some cars have regitraion year of 1000 or 9999

,datecrawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,kilometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,lastseen
count,371539,371539,371538,371538,3.715380e+05,371538,333669,371537.000000,351329,371538.000000,351054,371538,371537.000000,338151,371537,299477,371537,371537.0,371537.000000,371537
unique,15623,233527,3,3,NaN,3,9,NaN,3,NaN,252,14,NaN,7,40,2,114,NaN,NaN,18705
top,3/5/2016 14:25,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,150000,NaN,benzin,volkswagen,nein,4/3/2016 0:00,NaN,NaN,4/7/2016 6:45
freq,68,657,371534,371525,NaN,192591,95896,NaN,274219,NaN,30070,240802,NaN,223863,79640,263189,14451,NaN,NaN,708
mean,NaN,NaN,NaN,NaN,1.729544e+04,NaN,NaN,2004.577883,NaN,115.548840,NaN,NaN,5.734473,NaN,NaN,NaN,NaN,0.0,50820.666402,NaN
std,NaN,NaN,NaN,NaN,3.587905e+06,NaN,NaN,92.865496,NaN,192.137238,NaN,NaN,3.712383,NaN,NaN,NaN,NaN,0.0,25799.080292,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,1.150000e+03,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30459.000000,NaN
50%,NaN,NaN,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49610.000000,NaN
75%,NaN,NaN,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71546.000000,NaN
max,NaN,NaN,NaN,NaN,2.147484e+09,NaN,NaN,9999.000000,NaN,20000.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [5]:
autos.dtypes

datecrawled            object
name                   object
seller                 object
offertype              object
price                 float64
abtest                 object
vehicletype            object
registration_year     float64
gearbox                object
powerps               float64
model                  object
kilometer              object
registration_month    float64
fueltype               object
brand                  object
unrepaired_damage      object
ad_created             object
nrofpictures          float64
postalcode            float64
lastseen               object
dtype: object

#### Cleaining data types

In [6]:
autos.datecrawled=pd.to_datetime(autos.datecrawled.str[:9],errors='coerce')

In [7]:
autos.kilometer=pd.to_numeric(autos.kilometer.str[:9],errors='coerce')

In [8]:
autos.ad_created=pd.to_datetime(autos.ad_created.str[:9],errors='coerce')

In [9]:
autos.lastseen=pd.to_datetime(autos.lastseen.str[:9],errors='coerce')

In [10]:
autos.head()

,datecrawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,kilometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,lastseen
0,2016-03-24,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000.0,0.0,benzin,volkswagen,NaN,2016-03-24,0.0,70435.0,2016-04-07
1,2016-03-24,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000.0,5.0,diesel,audi,ja,2016-03-24,0.0,66954.0,2016-04-07
2,2016-03-14,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000.0,8.0,diesel,jeep,NaN,2016-03-14,0.0,90480.0,2016-04-05
3,2016-03-17,GOLF_4_1_4__3TÜRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000.0,6.0,benzin,volkswagen,nein,2016-03-17,0.0,91074.0,2016-03-17
4,2016-03-31,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000.0,7.0,diesel,skoda,nein,2016-03-31,0.0,60437.0,2016-04-06

#### Columns to delete

In [11]:
print(autos.seller.value_counts()) # gewerblitch means: commercial. bye bye
print(autos.offertype.value_counts()) # Angebot means:offer. bye bye
print(autos.abtest.value_counts()) # ABtest_ on website. Stays
print(autos.nrofpictures.value_counts()) # Has no value. bye bye

privat        371534
gewerblich         3
golf               1
Name: seller, dtype: int64
Angebot    371525
Gesuch         12
150000          1
Name: offertype, dtype: int64
test       192591
control    178946
benzin          1
Name: abtest, dtype: int64
0.0    371537
Name: nrofpictures, dtype: int64

In [12]:
autos=autos.drop(['seller','offertype','nrofpictures'],axis=1)

In [13]:
#turning powerps into powerhp
autos['power_hp']=autos.powerps*0.986
autos=autos.drop('powerps',axis=1)

In [14]:
autos.price.value_counts().sort_index(ascending=False)
# Some cars have prices of over 500,000 Euros

2.147484e+09        1
1.000000e+08       15
9.900000e+07        1
7.418530e+07        1
3.254546e+07        1
2.732222e+07        1
1.400050e+07        1
1.234568e+07        9
1.111111e+07       10
1.001001e+07        1
1.000000e+07        8
9.999999e+06        3
3.895000e+06        1
3.890000e+06        1
2.995000e+06        1
2.795000e+06        1
1.600000e+06        2
1.300000e+06        1
1.250000e+06        2
1.234566e+06        1
1.111111e+06        2
1.010010e+06        1
1.000000e+06        5
9.999990e+05       13
9.999900e+05        1
9.119110e+05        1
8.490000e+05        1
8.200000e+05        1
7.800000e+05        1
7.450000e+05        2
                ...
3.500000e+01       18
3.300000e+01        1
3.200000e+01        1
3.000000e+01       55
2.900000e+01        2
2.700000e+01        1
2.600000e+01        1
2.500000e+01       33
2.400000e+01        1
2.100000e+01        1
2.000000e+01       51
1.900000e+01        3
1.800000e+01        3
1.700000e+01        5
1.600000e+01        2
1.500000e+01       27
1.400000e+01        5
1.300000e+01        7
1.200000e+01        8
1.100000e+01        5
1.000000e+01       84
9.000000e+00        8
8.000000e+00        9
7.000000e+00        3
5.000000e+00       26
4.000000e+00        2
3.000000e+00        8
2.000000e+00       12
1.000000e+00     1189
0.000000e+00    10778
Name: price, Length: 5597, dtype: int64

In [15]:
high_price=autos[autos['price'].between(500000,10000000)]
high_price
# Some are super rare cars, some are juts scam

,datecrawled,name,price,abtest,vehicletype,registration_year,gearbox,model,kilometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,postalcode,lastseen,power_hp
1846,2016-03-10,BMW_M1_Museumsfahrzeug_Neuwagenzustand_Glossy_...,579000.0,control,coupe,1980.0,manuell,andere,20000.0,12.0,benzin,bmw,nein,2016-03-10,60435.0,2016-03-23,273.122
16889,2016-03-15,Ford_Mondeo_Kombi_TÜV_abgelaufen,1000000.0,control,kombi,1998.0,NaN,mondeo,150000.0,0.0,benzin,ford,ja,2016-03-15,26607.0,2016-03-15,0.000
20143,2016-03-18,Porsche_911R_Einer_von_911,1250000.0,test,coupe,2016.0,manuell,911,5000.0,3.0,benzin,porsche,nein,2016-03-17,70435.0,2016-03-20,493.000
21467,2016-03-19,Porsche_911_911R_1_of_20_ORIGINAL_R_nur_798KG!...,9999999.0,control,coupe,1967.0,manuell,911,50000.0,10.0,benzin,porsche,nein,2016-03-19,70435.0,2016-04-01,211.990
26327,2016-03-21,Porsche_911_R,600000.0,test,coupe,2016.0,manuell,911,5000.0,3.0,benzin,porsche,nein,2016-03-21,76275.0,2016-03-21,493.000
38445,2016-03-21,2_VW_Busse_T3,999999.0,test,bus,1981.0,manuell,transporter,150000.0,1.0,benzin,volkswagen,NaN,2016-03-21,99880.0,2016-03-28,69.020
41980,2016-03-11,Maserati_MC12,2995000.0,control,coupe,2005.0,NaN,NaN,5000.0,7.0,benzin,sonstige_autos,nein,2016-03-11,74232.0,2016-04-06,621.180
45055,2016-04-02,Ferrari_LaFerrari_Deutsche_Auslieferung._A_Cel...,2795000.0,control,coupe,2016.0,NaN,NaN,5000.0,3.0,NaN,sonstige_autos,nein,2016-04-01,60435.0,2016-04-03,949.518
45833,2016-03-15,Porsche_911_Turbo__930_,1000000.0,control,coupe,1981.0,manuell,911,150000.0,1.0,benzin,porsche,nein,2016-03-15,10969.0,2016-03-22,295.800
53507,2016-03-11,Suzuki_SJ_Samurai_413_Van__Kein_Lada_Niva_,1000000.0,test,suv,1992.0,manuell,andere,100000.0,0.0,benzin,suzuki,nein,2016-03-11,45711.0,2016-04-05,68.034
54295,2016-03-08,Mazda_5_2.0_CD_DPF_Exclusive,10000000.0,control,bus,2007.0,manuell,5_reihe,150000.0,2.0,diesel,mazda,nein,2016-03-08,83301.0,2016-03-10,140.998
57594,2016-03-25,Astra_f_teile,1111111.0,test,NaN,1995.0,manuell,astra,150000.0,5.0,benzin,opel,NaN,2016-03-25,67700.0,2016-04-06,70.006
69726,2016-03-17,Oldtimer_Lkw,999999.0,test,andere,1960.0,manuell,NaN,150000.0,0.0,NaN,mercedes_benz,NaN,2016-03-17,27616.0,2016-03-19,9859.014
77185,2016-03-21,Aston_Martin_DB_7_Zagato,500000.0,test,coupe,2004.0,manuell,NaN,30000.0,7.0,benzin,sonstige_autos,nein,2016-03-21,69120.0,2016-04-06,428.910
78265,2016-03-31,McLaren_675LT_Spider/Delivery_on1._May/Vat_is_...,820000.0,control,cabrio,2016.0,NaN,NaN,5000.0,3.0,benzin,sonstige_autos,nein,2016-03-31,72762.0,2016-04-06,664.564
78480,2016-03-10,Porsche_991_R,1250000.0,test,coupe,2016.0,manuell,911,5000.0,3.0,benzin,porsche,nein,2016-03-10,10719.0,2016-03-15,493.000
85047,2016-03-28,Porsche_911,911911.0,test,cabrio,1967.0,manuell,911,5000.0,12.0,benzin,porsche,nein,2016-03-28,44575.0,2016-03-28,157.760
91106,2016-03-30,Verkaufe_oder_tausche_wenn_nur_gegen_Kombi_s4_...,9999999.0,test,limousine,1996.0,manuell,a4,60000.0,5.0,benzin,audi,nein,2016-03-30,47800.0,2016-03-30,374.680
100851,2016-03-12,Porsche_911R,700000.0,test,coupe,2016.0,NaN,911,5000.0,3.0,NaN,porsche,nein,2016-03-12,76275.0,2016-03-12,0.000
106651,2016-03-11,SUCHE_PKW_MIT_TÜV_MIN2_MONATE,1111111.0,control,NaN,2000.0,NaN,NaN,150000.0,0.0,NaN,sonstige_autos,nein,2016-03-11,29640.0,2016-03-18,0.000
111647,2016-03-17,Lamborghini_Miura_S_Project,725000.0,test,coupe,1971.0,manuell,NaN,5000.0,4.0,benzin,sonstige_autos,nein,2016-03-16,70173.0,2016-03-17,616.250
118058,2016-04-07,Audi__A6_allroad_quattro,517895.0,test,kombi,2013.0,automatik,andere,40000.0,1.0,diesel,audi,nein,2016-04-07,85092.0,2016-04-07,241.570
118143,2016-03-20,Porsche_911_R__500PS__6_Gang__limitiert,745000.0,test,coupe,2016.0,manuell,911,5000.0,3.0,benzin,porsche,nein,2016-03-20,60323.0,2016-03-21,493.000
118233,2016-03-09,Liebhaber_sucht_Grand_Cherokee_5.9_LX__sofort_...,999999.0,test,suv,1998.0,automatik,grand,150000.0,1.0,benzin,jeep,nein,2016-03-09,76829.0,2016-04-06,237.626
119382,2016-03-21,Porsche_911_R,500000.0,test,coupe,2016.0,manuell,911,5000.0,2.0,benzin,porsche,nein,2016-03-21,4129.0,2016-03-23,493.000
121793,2016-03-05,Alter_VW_Kaefer_Scheunenfund,10000000.0,control,NaN,1910.0,NaN,kaefer,100000.0,0.0,NaN,volkswagen,NaN,2016-03-05,94436.0,2016-03-05,0.000
131785,2016-04-03,Suche_Autos_aller_Art,999999.0,control,NaN,2000.0,NaN,NaN,100000.0,0.0,NaN,sonstige_autos,NaN,2016-04-03,21075.0,2016-04-05,0.000
136495,2016-03-27,Mercedes_Benz_300_d_Cabriolet__W189_,585000.0,test,cabrio,1960.0,manuell,andere,5000.0,7.0,benzin,mercedes_benz,nein,2016-03-27,50667.0,2016-04-05,157.760
137856,2016-03-19,Porsche_911R_Der_letzte_Samurai!_Sauger__Schal...,619000.0,control,coupe,2016.0,manuell,911,5000.0,3.0,benzin,porsche,nein,2016-03-19,60435.0,2016-03-20,493.000
141004,2016-04-02,Kaufen_jeder_auto,999999.0,test,limousine,2000.0,NaN,NaN,150000.0,5.0,diesel,bmw,NaN,2016-04-02,10439.0,2016-04-02,98.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159985,2016-04-01,Manta_b_gsi,999999.0,control,NaN,1980.0,NaN,andere,50000.0,0.0,NaN,opel,NaN,2016-04-01,66706.0,2016-04-01,113.390
161784,2016-03-12,Porsche_Carrera_GT,600000.0,control,cabrio,2005.0,manuell,andere,10000.0,4.0,benzin,porsche,nein,2016-03-12,70569.0,2016-03-19,603.432
163201,2016-03-27,Ferrari_F12_TDF,780000.0,control,coupe,2016.0,automatik,NaN,5000.0,3.0,benzin,sonstige_autos,nein,2016-03-27,10707.0,2016-03-29,769.080
167761,2016-03-22,Bmw_530d_zum_ausschlachten,1234566.0,control,kombi,1999.0,automatik,NaN,150000.0,2.0,diesel,bmw,NaN,2016-03-22,17454.0,2016-04-02,187.340
169109,2016-03-08,Ferrari_206,650000.0,test,coupe,1969.0,manuell,NaN,90000.0,1.0,benzin,sonstige_autos,nein,2016-03-08,80796.0,2016-03-20,160.718
169447,2016-04-01,KAUFEN_JEDEN_AUTO,999999.0,test,NaN,2000.0,NaN,a5,100000.0,2.0,NaN,audi,NaN,2016-04-01,10439.0,2016-04-01,0.000
169667,2016-03-21,BMW_///_Bodensee,999999.0,control,NaN,9999.0,NaN,NaN,10000.0,0.0,NaN,bmw,NaN,2016-03-21,88677.0,2016-03-27,0.000
171835,2016-03-29,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,10000000.0,control,coupe,1960.0,manuell,NaN,100000.0,1.0,benzin,sonstige_autos,nein,2016-03-29,73033.0,2016-04-06,362.848
173290,2016-03-07,12345678911,1010010.0,control,NaN,2017.0,manuell,zafira,150000.0,9.0,diesel,opel,nein,2016-03-07,71254.0,2016-03-08,99.586
174628,2016-03-14,BMW_523I_TAUSCH,999999.0,test,kombi,1997.0,manuell,5er,150000.0,11.0,NaN,bmw,nein,2016-03-14,26607.0,2016-03-17,171.564
176081,2016-04-02,Suche_BMW_Fun,10000000.0,test,NaN,1985.0,automatik,NaN,150000.0,0.0,NaN,bmw,NaN,2016-04-02,67480.0,2016-04-02,295.800
194228,2016-04-03,Volkswagen_Golf_Variant_1.8_Comfortline__Mit_K...,849000.0,test,kombi,1998.0,manuell,golf,150000.0,1.0,benzin,volkswagen,nein,2016-04-03,28197.0,2016-04-03,73.950
196317,2016-04-01,Suche_Motorcross_.!,10000000.0,control,NaN,2017.0,manuell,golf,5000.0,0.0,benzin,volkswagen,NaN,2016-04-01,1454.0,2016-04-07,0.000
281844,2016-03-19,Coole_Autowerkstatt_in_Esens_gesucht!,10000000.0,test,NaN,2019.0,manuell,NaN,5000.0,0.0,NaN,sonstige_autos,ja,2016-03-19,26487.0,2016-04-06,9.860
301209,2016-04-04,4_Wochen_und_kein_Ergebnis!_Hilfe!,999999.0,control,NaN,2015.0,NaN,NaN,5000.0,2.0,NaN,sonstige_autos,NaN,2016-04-04,30938.0,2016-04-06,0.000
306480,2016-03-17,Vw_Polo_86c_Schrott_Karosse,1000000.0,control,coupe,1985.0,manuell,polo,150000.0,0.0,benzin,volkswagen,ja,2016-03-17,56410.0,2016-03-18,73.950
312120,2016-04-05,A3_zu_verkaufen_fuer_1.000.000_Euro,1000000.0,test,NaN,2000.0,NaN,a3,150000.0,0.0,NaN,audi,NaN,2016-04-05,49635.0,2016-04-05,0.000
312920,2016-03-17,Ford_Focus_Turnier_1.6_16V_Style,999999.0,test,kombi,2009.0,manuell,focus,125000.0,4.0,benzin,ford,nein,2016-03-17,12205.0,2016-04-06,99.586
316211,2016-04-04,Ferrari_F40,1300000.0,control,coupe,1992.0,NaN,NaN,50000.0,12.0,NaN,sonstige_autos,nein,2016-04-04,60598.0,2016-04-05,0.000
332542,2016-03-20,SUCHE_Chevrolet_oder_Gmc_pick_up_vor/bis_bj86_...,999999.0,control,NaN,1985.0,NaN,NaN,150000.0,0.0,diesel,chevrolet,NaN,2016-03-20,7973.0,2016-04-02,0.000
333710,2016-03-12,Maserati_MC12,1600000.0,test,coupe,2005.0,NaN,NaN,10000.0,4.0,NaN,sonstige_autos,nein,2016-03-12,70569.0,2016-03-21,0.000
344207,2016-03-05,Porsche_911R__991R__weiss/rot_2016,745000.0,control,coupe,2016.0,manuell,911,5000.0,3.0,benzin,porsche,nein,2016-03-05,60323.0,2016-03-12,493.000
347446,2016-03-30,Schlachte_Golf_4_1.4_16_fast_alles_noch_da,9999999.0,test,NaN,2000.0,manuell,golf,150000.0,0.0,benzin,volkswagen,ja,2016-03-30,39576.0,2016-04-07,73.950
358879,2016-03-16,Tausche_BMW_E46_Touring_Diesel,10000000.0,control,kombi,2002.0,manuell,NaN,150000.0,7.0,diesel,bmw,nein,2016-03-16,25821.0,2016-03-17,0.000
359094,2016-03-29,Volkswagen_Jetta_GT,999990.0,test,limousine,1985.0,manuell,jetta,150000.0,12.0,benzin,volkswagen,ja,2016-03-29,50997.0,2016-03-29,109.446
363445,2016-03-23,Vw_Passat_35i_1.8_schlachtfest,10000000.0,test,kombi,1996.0,manuell,NaN,150000.0,0.0,benzin,volkswagen,ja,2016-03-23,36251.0,2016-03-26,88.740
364182,2016-04-04,Ferrari_FXX,3890000.0,test,coupe,2006.0,NaN,NaN,5000.0,7.0,NaN,sonstige_autos,nein,2016-04-04,60313.0,2016-04-05,787.814
365472,2016-03-31,BMW_M1_mit_4900_Km_Neuwagenzustand_Glossy_Orange,599000.0,control,coupe,1980.0,manuell,andere,5000.0,3.0,benzin,bmw,nein,2016-03-31,60435.0,2016-04-06,371.722
366872,2016-03-21,Ferrari_FXX__unfallfrei__perfekter_Zustand,3895000.0,test,coupe,2006.0,NaN,NaN,5000.0,4.0,benzin,sonstige_autos,nein,2016-03-21,60323.0,2016-03-22,787.814
367052,2016-03-24,Maserati_MC12,1600000.0,test,coupe,2005.0,NaN,NaN,10000.0,4.0,benzin,sonstige_autos,nein,2016-03-24,70569.0,2016-03-24,616.250

In [16]:
#dropping prices more than 350,000
autos=autos[autos['price'].between(0,350000)]

In [17]:
autos.kilometer.value_counts().sort_index(ascending=False)

150000.0    240753
125000.0     38063
100000.0     15913
90000.0      12523
80000.0      11052
70000.0       9773
60000.0       8668
50000.0       7611
40000.0       6375
30000.0       6039
20000.0       5669
10000.0       1945
5000.0        7038
Name: kilometer, dtype: int64

In [18]:
autos["registration_year"].describe()
# Some cars are registerd in the future

count    371422.000000
mean       2004.561038
std          91.936585
min        1000.000000
25%        1999.000000
50%        2003.000000
75%        2008.000000
max        9999.000000
Name: registration_year, dtype: float64

In [19]:
autos[~autos["registration_year"].between(1940,2016)].shape[0]/autos["registration_year"].shape[0]

0.040183295057118165

#### Only 4% of cars are registered inappropritaley. Gonna Remove them

In [20]:
autos=autos[autos["registration_year"].between(1940,2016)]

In [21]:
autos.datecrawled.value_counts()

2016-04-03    13826
2016-04-04    13440
2016-03-20    12990
2016-03-12    12915
2016-03-14    12887
2016-03-07    12774
2016-03-21    12746
2016-03-19    12557
2016-03-28    12494
2016-04-02    12494
2016-03-09    12207
2016-03-29    12186
2016-04-01    12174
2016-03-08    11962
2016-03-30    11957
2016-03-15    11919
2016-03-25    11736
2016-03-11    11648
2016-03-10    11627
2016-03-22    11575
2016-03-26    11387
2016-03-23    11386
2016-03-31    11358
2016-03-17    11247
2016-03-16    10766
2016-03-27    10738
2016-03-24    10653
2016-03-05     9149
2016-03-13     5618
2016-03-06     5187
2016-03-18     4661
2016-04-05     4533
2016-04-06     1130
2016-04-07      571
Name: datecrawled, dtype: int64

#### Creating Brand Mean price and brand milage

In [22]:
autos.brand.value_counts()

volkswagen        75736
bmw               39118
opel              38178
mercedes_benz     34225
audi              31864
ford              24535
renault           16967
peugeot           10649
fiat               9183
seat               6647
skoda              5497
mazda              5475
smart              5032
citroen            4943
nissan             4841
toyota             4548
sonstige_autos     3712
hyundai            3505
mini               3286
volvo              3257
mitsubishi         2948
honda              2707
kia                2454
alfa_romeo         2262
suzuki             2253
porsche            2176
chevrolet          1785
chrysler           1406
dacia               874
daihatsu            780
jeep                778
land_rover          763
subaru              757
jaguar              613
trabant             571
saab                518
daewoo              513
rover               463
lancia              461
lada                218
Name: brand, dtype: int64

In [69]:
intersting_brands=autos.brand.value_counts()[0:22].index
intersting_brands
# I chose up too Kia

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'mazda', 'smart', 'citroen',
       'nissan', 'toyota', 'sonstige_autos', 'hyundai', 'mini', 'volvo',
       'mitsubishi', 'honda'],
      dtype='object')

In [70]:
brand_mean_price={}

for b in intersting_brands:
    brand_mean_price[b]=int(autos['price'][autos['brand']==b].mean())
brand_mean_price
y=pd.Series(brand_mean_price)
y

audi               8850
bmw                8224
citroen            3648
fiat               2800
ford               3583
honda              3863
hyundai            5490
mazda              3970
mercedes_benz      8383
mini               9979
mitsubishi         3299
nissan             4585
opel               2867
peugeot            3204
renault            2366
seat               4420
skoda              6460
smart              3586
sonstige_autos    12481
toyota             5265
volkswagen         5229
volvo              5100
dtype: int64

In [71]:
brand_mean_milage={}
for b in intersting_brands:
    brand_mean_milage[b]=int(autos['kilometer'][autos['brand']==b].mean())
x=pd.Series(brand_mean_milage)
x

audi              129516
bmw               132685
citroen           120435
fiat              116564
ford              123657
honda             125805
hyundai           104359
mazda             125945
mercedes_benz     130599
mini               93566
mitsubishi        126964
nissan            119543
opel              128792
peugeot           124611
renault           127882
seat              120916
skoda             113720
smart              99684
sonstige_autos     87512
toyota            117355
volkswagen        128354
volvo             138101
dtype: int64

In [72]:
brand_means=pd.DataFrame([y,x],index=['price','milage']).T.sort_values('price',ascending=False)
brand_means

                price  milage
sonstige_autos  12481   87512
mini             9979   93566
audi             8850  129516
mercedes_benz    8383  130599
bmw              8224  132685
skoda            6460  113720
hyundai          5490  104359
toyota           5265  117355
volkswagen       5229  128354
volvo            5100  138101
nissan           4585  119543
seat             4420  120916
mazda            3970  125945
honda            3863  125805
citroen          3648  120435
smart            3586   99684
ford             3583  123657
mitsubishi       3299  126964
peugeot          3204  124611
opel             2867  128792
fiat             2800  116564
renault          2366  127882

#### From here, used my own exploration ideas